<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="numberGenerator" class="guru.noor.NumberGeneratorImpl"/>

    <bean id="game" class="guru.noor.GameImpl">
        <!-- inject a bean of the referenced bean in the constructor -->
        <constructor-arg ref="numberGenerator"/>
    </bean>

</beans>
