<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    In beans, we can have:-->
    <!--    default-init-method="reset"-->

    <context:annotation-config/>

    <bean id="numberGenerator" class="guru.noor.NumberGeneratorImpl"/>

    <!--    Bean lifecycle callbacks:-->
    <!--    - init-method-->
    <!--    - destroy-method-->
    <!--    ** We can set them using annotations in the classes too (better than XML ofc).-->
    <!--    but we need to define CommonAnnotationBeanPostProcessor bean and use the javax annotations api dependency-->
    <bean id="game" class="guru.noor.GameImpl">
        <!-- inject a bean of the referenced bean in the constructor -->
        <!-- <constructor-arg ref="numberGenerator"/> -->

        <!-- inject a bean of the referenced bean in the setter of the given name -->
        <!--    not needed with instance wiring: @AutoWired ...-->
        <!--        <property name="numberGenerator" ref="numberGenerator"/>-->
    </bean>

    <!--    not needed with instance wiring: @AutoWired ...-->
    <!--    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
</beans>
